[package]
name = "lair"
version = "0.1.0"
description = "Linear algebra in Rust"
readme = "README.md"
documentation = "https://docs.rs/lair"
homepage = "https://github.com/vinesystems/lair"
repository = "https://github.com/vinesystems/lair"
license = "Apache-2.0"
keywords = ["linear-algebra", "matrix", "decomposition"]
categories = ["mathematics"]
authors = ["Min Kim <msk@dolbo.net>"]
edition = "2018"
exclude = ["./github"]

[dependencies]
cauchy = "0.2"
ndarray = "0.13"
thiserror = "1"

[dev-dependencies]
approx = "0.3"
criterion = "0.3"
ndarray-rand = "0.11"
rand_isaac = "0.2"

[profile.bench]
lto = true

[[bench]]
name = "geqrf"
harness = false

[[bench]]
name = "getrf"
harness = false

[[bench]]
name = "getrs"
harness = false
