[package]
name = "lair"
version = "0.2.0"
description = "Linear algebra in Rust"
readme = "README.md"
documentation = "https://docs.rs/lair"
homepage = "https://github.com/vinesystems/lair"
repository = "https://github.com/vinesystems/lair"
license = "Apache-2.0"
keywords = ["linear-algebra", "matrix", "decomposition"]
categories = ["mathematics"]
authors = ["Min Kim <msk@dolbo.net>", "Min Shao <min.shao1988@gmail.com>"]
edition = "2018"
exclude = ["./github"]

[dependencies]
cauchy = "0.3"
ndarray = "0.13"
num-traits = "0.2"
thiserror = "1"

[dev-dependencies]
approx = "0.3"
criterion = "0.3"
ndarray = { version = "0.13", features = ["approx"] }
ndarray-rand = "0.11"
num-complex = "0.3"
rand_isaac = "0.2"

[[bench]]
name = "geqrf"
harness = false

[[bench]]
name = "getrf"
harness = false

[[bench]]
name = "getrs"
harness = false
